<form id="form" class="grid">
    <div>
    <input type="text"
           id="name"
           name="name"
           required="required"/>
    </div>
    <div>
    <input type="text"
           id="date"
           name="date"
           data-type="date"/>
    </div>
    <div>
    <input type="text"
           id="decimal"
           name="decimal"
           data-type="decimal"/>
    </div>
    <div>
    <input type="text"
           id="email"
           name="email"
           data-type="email"/>
    </div>
    <div>
    <input type="text"
           id="url"
           name="url"
           data-type="url"/>
    </div>
</form>
