<form id="contact-form" class="grid">
    <input type="text"
           id="name"
           name="name"
           required="required"/>

    <input type="text"
           id="date"
           name="date"
           data-type="date"/>

    <input type="text"
           id="decimal"
           name="decimal"
           data-type="decimal"/>

    <input type="text"
           id="email"
           name="email"
           data-type="email"/>

    <input type="text"
           id="url"
           name="url"
           data-type="url"/>
</form>
