<div id="navigation">
    <div class="navigation">
        <ul class="navigation-columns">
            <li id="column-0" class="navigation-column">
                <ul class="navigation-items">
                    <li title="CSS" class="navigation-column-item{% if page.slug == "home" %} selected{% endif %}">
                        <a href="{{ page.base_url }}">
                            <span class="icon-cogwheel"></span>Home
                        </a>
                    </li>
                    <li title="JavaScript Components" class="navigation-column-item{% if page.slug == "documentation" %} selected{% endif %}">
                    <a href="{{ page.base_url }}documentation">
                        <span class="icon-js"></span>Documentation
                    </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
